<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="/static/Style/style.css">
      {{ bootstrap.load_css() }}

      <title>Movies!</title>
  </head>
  <body>
    {% include "header.html" %}
      <img src="/static/Images/filmalley.png" height="250px" class="title">
      <h2>Please type in a movie to learn more!</h2><hr>
    <form method="post" id="form"  class="search" action="/search">
      <input type="text" name="query"/>
      <button>Search</button>
    </form>

    <script src="/static/Scripts/script.js"></script>
  </body>

</html>
