<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="/static/Style/style.css">
      {{ bootstrap.load_css() }}

      <title>Movies!</title>
  </head>
<body>
      <h1>Future Title</h1>
      <h2>Select a movie to learn more!</h2>
    <br>
      <h3><i>Note: If someone could work on the css and website look, Ill start the API work sometime this week - erik</i></h3>
    <div class="container">
    </div>
    <script src="/static/Scripts/script.js"></script>
</body>

</html>
