<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/Style/style.css">
    {{ bootstrap.load_css() }}
    <title>{{ movie_info['t']['title'] }}</title>
  </head>
  <body style="background-color:#1C1C1C;">
    {% include "header.html" %}
    <div class="container">
    <h1 style="center;color:#F5F5F5;margin-bottom:25px;">Movie Info</h1><br>
      {% if movie_info %}
      <div class="info" style="color:#F5F5F5">
        {{ movie_info['t']['videoTitle'] }}<br>
        <b> Title: </b> {{ movie_info['t']['fullTitle'] }} <br>
        <b> Year: </b> {{ movie_info['t']['year'] }} <br>
        <b> Type: </b> {{ movie_info['t']['type'] }} <br>
        <br>
      </div>
      <div class="row">
        <!-- this iframe does not want to display the video right, why idk -->
        <iframe src='{{ movie_info["t"]["linkEmbed"] }}' width="800" height="500" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" frameborder="yes" scrolling="no">
        </iframe>
      </div>
      <div class="row, info" style="color:#F5F5F5">
        <b> imDb: </b> {{ movie_info['r']['imDb']}} <br>
        <b>Rotten Tomatoes:</b> {{ movie_info['r']['rottenTomatoes']}} <br>
        <b> Meta Critic:</b> {{ movie_info['r']['metacritic']}} <br>
      </div>
      {% else %}
      <!-- error has occured -->
      Info is not available, try again later
      {% endif %}
    </div>
  </body>
</html>
