<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="/static/Style/style.css">
      {{ bootstrap.load_css() }}

      <title>Search for Movies!</title>
  </head>
<body>
      <h1>Search for movies here</h1>
      <h2>Then select a movie to learn more!</h2>
    <br>
    <div class="container">
      <form method="post" id="form" class="search" action="/search">
        <div>
          <input type="text" size="50" name="query" placeholder="Your favorite movie"/>
          <button style="margin-left: 10px;">Search</button>
        </div>
      </form>
      <br>

      <!-- search results -->
      <div class="container">
      {% if results %}
      {% for movie in results %}
      <div class="row" style="border-radius:5px; padding:10px;margin-bottom:10px;background-color:#F9F9F9;">
        <a href="{{ url_for('movie_info', imdbID=movie['imdbID']) }}">
          <img src="{{ movie['Poster'] }}" height="250"><br>
        </a>
        <div class="col-sm-2, list" style="padding-left:15px;">
          <b style='font-size: 1.2rem;'>
            {{ movie['Title'] }} <br>
          </b>
          Year: {{ movie['Year'] }} <br>
          Type: {{ movie['Type'] }} <br>
          <div id="ratings">
            <script>
              await fun();
              async function fun(){
                alert("working");
                let url = "https://imdb-api.com/en/API/Ratings/k_peu1q0jh/{{movie['imdbID']}}";
                //console.log("{{movie['imdb']}}");
                let myDiv = document.getElementById("#ratings");
                let data = await fetchData(url);
                //alert(data);
                //salert("not");
                // myDiv.innerHTML =
                // `<b>imDb: </b>${data['imDb']} <br>
                // <b>Rotten Tomatoes: </b>${data['rottenTomatoes']} <br>
                // <b> Meta Critic:</b> ${data['metacritic']} <br>`;
                myDiv.innerHTML = "working";

              }

              async function fetchData(url){
              let response = await fetch(url);
              let data = await response.json();
              // console.log(data);
              return data;
            }
            </script>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
      <!-- search results -->

    </div>
    <script src="/static/Scripts/script.js"></script> 
</body>

</html>
