<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="/static/Style/style.css">
      {{ bootstrap.load_css() }}

      <title>Search for Movies!</title>
  </head>
<body>
      <h1>Search for movies here</h1>
      <h2>Select a movie to learn more!</h2>
    <br>
    <div class="container">
      <form method="post" id="form" action="/search">
        <input type="text" name="query"/>
        <br><br>
        <button>Search</button>
      </form>
      <br>

      <!-- search results -->
      {% if results %}
      {% for movie in results %}
      <div class="row">
        <a href="{{ url_for('movie_info', imdbID=movie['imdbID']) }}">
          <img src="{{ movie['Poster'] }}" height="250"><br>
        </a>
        <div class="col-sm-2">
          Title: {{ movie['Title'] }} <br>
          Year: {{ movie['Year'] }} <br>
          Type: {{ movie['Type'] }} <br>
          <div id="{{movie['imdbID']}}">
            <script>
              updateRatngs();
async function updateRatings()
{
    let url = "https://imdb-api.com/en/API/Ratings/k_peu1q0jh/{{movie['imdbID']}}";
    console.log("{{movie['imdb']}}");
    let myDiv = document.getElementById(id);
    let data = await fetchData(url);
    myDiv.innerHTML =
    `<b>imDb: </b>${data['imDb']} <br>
    <b>Rotten Tomatoes: </b>${data['rottenTomatoes']} <br>
    <b> Meta Critic:</b> ${data['metacritic']} <br>`;
    console.log("successful");
}

async function fetchData(url){
	let response = await fetch(url);
	let data = await response.json();
	// console.log(data);
	return data;
}
            </script> 
          </div>
        </div>
      </div>
      <hr>
      {% endfor %}
      {% endif %}
      <!-- search results -->

    </div>
    
</body>

</html>
